[submodule "thirdParty/spdlog"]
	path = thirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdParty/glfw"]
	path = thirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdParty/imgui"]
	path = thirdParty/imgui
	url = https://github.com/willproj/imgui
[submodule "thirdParty/glm"]
	path = thirdParty/glm
	url = https://github.com/icaven/glm
[submodule "thirdParty/tinygltf"]
	path = thirdParty/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "thirdParty/entt"]
	path = thirdParty/entt
	url = https://github.com/skypjack/entt
[submodule "thirdParty/yaml-cpp"]
	path = thirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp

[submodule "thirdParty/ImGuizmo"]
	path = thirdParty/ImGuizmo
	url = https://github.com/willproj/ImGuizmo
